<section class="about">
    <h3 class="section-title">About</h3>
    <div class="container">
        <div class="about-body">
            <h4 class="about-title">
                ミニマルで <br>
                洗練されたデザインを。
            </h4>
            <div class="about-text-body">
                <p class="about-text">
                    近年、ミニマルなデザインが流行しています。そこで弊社では、
                    クライアント企業様新規サービス等の課題に対してミニマルで
                    洗練されたデザインを実現させることで解決のサポートを致します。
                    もちろん全てのサービスにおいてミニマルなデザインが課題解決にな
                    るわけではないので、課題や今後のサービスの展開等しっかりとヒア
                    リングを行なった上でご提案させて頂きます。
                </p>
            </div>
        </div>
    </div>
</section>