<section class="service">
    <h2 class="section-title">Service</h2>
    <div class="container">
        <div class="service-body">
            <div class="service-wrapper">
                <div class="service-box">
                    <figure class="service-image">
                        <img width="480" height="240" src="../img/service-image-1.jpg" alt="レンズキャップが付いたプロフェッショナルカメラが暗い表面の上に置かれている近接写真。">
                    </figure>
                    <div class="service-desc">
                        <h3 class="service-title">
                             リリース時のサポートで <br>
                             サービスのブランディングを
                        </h3>
                        <div class="service-text-body">
                            <p class="service-text">
                                弊社では、リリース時もサポートさせて頂きます。
                                プレスリリース用のサイトや動画制作を通して、
                                サービスのブランディングを行わせて頂きます。
                            </p>
                        </div>
                    </div>
                </div>
                <div class="service-box">
                    <figure class="service-image">
                        <img width="480" height="240" src="../img/service-image-2.jpg" alt="14:21の時刻を表示したスマートフォンがデスクの上に置かれ、キーボードや他の電子機器が周囲にある様子。">
                    </figure>
                    <div class="service-desc">
                        <h3 class="service-title">
                            リリース後のサポートで <br>
                            効果を最大化させる
                        </h3>
                        <div class="service-text-body">
                            <p class="service-text">
                                弊弊社では、リリース後もサポートさせて頂きます。
                                サービスはリリース後に様々な課題にぶつかります。
                                そこでクライアント様と一緒に改善を行うことで、
                                デザインの効果を最大化させます。。
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>